@page
@model SICAU.App.FrontEnd.Pages.DeleteProfesorModel
@{
}
<h3>Eliminar Profesor</h3>

<p></p>

<tr>
    <td>
        <a class="btn btn-primary table-btn" asp-page="/DirEntidades/ListProfesor">
        <i class="fas fa-arrow-circle-left"></i> 
            Regresar
        </a>
    </td>
</tr>

<p></p>

<table class="table table-bordered table-striped">
    <tr>
        <td class="table-dark">ID Profesor</td>
        <td>@Model.profesor.id</td>
    </tr>
    <tr>
        <td class="table-dark">Nombre Profesor</td>  
         <td>@Model.profesor.nombre</td>      
    </tr>
    <tr>
   
        <td class="table-dark">Apellido Profesor</td>
        <td>@Model.profesor.apellido</td>
    </tr>
    <tr>    
        <td class="table-dark">Identificacion Profesor</td>
        <td>@Model.profesor.identificacion</td>
    </tr>     
</table>

<p></p>

<form method="post">
    <input type="hidden" asp-for="profesor.id">
    <button type="submit" class="btn btn-primary">
        <i class="far fa-trash-alt"></i>
        Eliminar
    </button>
</form>