@page
@model SICAU.App.Frontend.Pages.DeleteFacultadModel
@{
}
<h3>Eliminar Facultad</h3>

<p></p>

<tr>
    <td>
        <a class="btn btn-primary table-btn" asp-page="/DirEntidades/ListFacultad">
            <i class="fas fa-arrow-circle-left"></i>
            Regresar
        </a>
    </td>
</tr>

<p></p>

<table class="table table-bordered table-striped">
    <tr>
        <td class="table-dark">ID Facultad</td>
        <td>@Model.facultad.id</td>
    </tr>
    <tr>
        <td class="table-dark">Nombre Facultad</td>
        <td>@Model.facultad.facultad</td>
    </tr>
    <tr>
        <td class="table-dark">Sede</td>
        <td>@Model.facultad.sede.sede</td>
    </tr>
</table>

<p></p>

<form method="post">
    <input type="hidden" asp-for="facultad.id">
    <button type="submit" class="btn btn-primary">
        <i class="far fa-trash-alt"></i>
        Eliminar
    </button>
</form>