@page
@model SICAU.App.Frontend.Pages.DeleteUniversidadModel
@{
}
<h3>Eliminar Universidad</h3>

<p></p>

<tr>
    <td>
        <a class="btn btn-primary table-btn" asp-page="/DirEntidades/ListUniversidad">
        <i class="fas fa-arrow-circle-left"></i> 
            Regresar
        </a>
    </td>
</tr>

<p></p>

<table class="table table-bordered table-striped">
    <tr>
        <td class="table-dark">ID Universidad</td>
        <td>@Model.universidad.id</td>
    </tr>
    <tr>
        <td class="table-dark">Nombre Universidad</td>
        <td>@Model.universidad.universidad</td>
    </tr>
</table>

<p></p>

<form method="post">
    <input type="hidden" asp-for="universidad.id">
    <button type="submit" class="btn btn-primary">
        <i class="far fa-trash-alt"></i>
        Eliminar
    </button>
</form>