@page
@model SICAU.App.Frontend.Pages.ListDetailSedeModel
@{
}
<h1>Listado Sedes</h1>

<p></p>

<a class="btn btn-primary table-btn" asp-page="/DirEntidades/ListUniversidad">
    <i class="fas fa-arrow-circle-left"></i>
    Regresar
</a>

<p></p>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Sede</th>
            <th scope="col">Ubicación</th>
        </tr>
  </thead>
  <tbody>
    @foreach (var sede in Model.Sedes)
    {
        <tr>
            <td>@sede.id</td>
            <td>@sede.sede</td>
            <td>@sede.ubicacion</td>
        </tr>
    }
    </tbody>
</table>