@page
@model SICAU.App.Frontend.Pages.ListProfesorModel
@{
}
<script src='https://kit.fontawesome.com/a076d05399.js'></script>

<h1>Listado Profesores</h1>

<form method="get">
    <p>
        Buscar por Nombres o Apellidos: 
        <input type="text" name="criterio" asp-for="criterio">
        <input type="submit" value="Buscar" class="btn btn-primary table-btn"> 
        <i class="fas fa-search"></i>
    </p>
</form>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col"> </th>
        </tr>
  </thead>
  <tbody>
    @foreach (var profesor in Model.profesores)
    {
        <tr>
            <td>@profesor.id</td>
            <td>@profesor.nombre</td>
            <td>@profesor.apellido</td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="/DirEntidades/DetailProfesor" asp-route-idProfesor="@profesor.id">
                <i class="fas fa-info-circle"></i> 
                    Detalle
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>