<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Desarrollo de Software</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js"></script>
    @* <link rel="stylesheet" href="~/css/menu.css" /> *@
</head>
<body>
    <header>
        <nav id="menu" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Desarrollo de Software</a>
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Personas
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-page="/DirEntidades/ListProfesor">Profesor</a>
                        <a class="dropdown-item" asp-page="/DirEntidades/ListEstudiante">Estudiante</a>
                        <a class="dropdown-item" asp-page="/DirEntidades/ListDirectivo">Directivos</a>
                        <a class="dropdown-item" asp-page="/DirEntidades/ListPersonalAseo">Personal Aseo</a>
                    </div>
                </div>
                <div class="btn-group">
                     <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Universidad
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-page="/DirEntidades/ListUniversidad">Universidades</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-page="/DirEntidades/ListFacultad">Facultades</a>
                        <a class="dropdown-item" asp-page="/DirEntidades/ListPrograma">Programas</a> 
                        <a class="dropdown-item" asp-page="/DirEntidades/ListMateria">Materias</a> 
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-page="/DirEntidades/ListSede">Sedes</a>
                        <a class="dropdown-item" asp-page="/DirEntidades/ListSalon">Salones</a> 
                    </div>
                </div>
                <div class="btn-group">
                     <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Covid
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-page="/DirEntidades/ListEncuesta">Encuestas</a>
                        <a class="dropdown-item" asp-page="/DirEntidades/ListSintoma">Sintomas</a>
                    </div>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Desarrollo de Software - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
